body {
    background-image: url('p4.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
 
    margin: 10;
    padding: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200;


/* Styles for div with class "image" (background image) */
.image {
    width: 400px;
    height: 300px;
    background-image: url('p2.png');
    background-size: cover;
    margin: 20px;
    text-align: center;
}
  .image-container img {
  vertical-align: middle;
}
}
