body {
    background-image: url(back.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quiz-container {
    
        background-color: rgba(254, 253, 255, 0.5);
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
        padding: 20px;
        text-align: center;
    }
    


h1 {
    font-size: 24px;
}

#quiz {
    text-align: left;
    margin: 20px 0;
}

button {
    background-color: #303336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.2);
}

button:hover {
    background-color: #69b85b;
}

#result {
    margin-top: 20px;
}




